* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
  line-height: 2;
  color: #404040;
  font-size: 1rem;
  /* background-color: #151421 ; */
}

/* Light theme */
#darkBody {
  background-color: black;
}

#switchButton {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}


/* Dark Theme*/
.dark#darkBody {
  background-color: white;
}

.dark #switchButton {
  background-color: black;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .card {
  background-color: black;
  color: white;
}

.dark .shape path {
  fill: white;
}

.dark header {
  background-color: black;

}





/* header */
header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background: transparent;
}


header .container {
  max-width: 1250px;
}

header .navbar-brand {

  font-size: 2rem;
  color: #fff;
}

header .navbar .navbar-brand {
  color: #fff;
}

header .navbar .navbar-brand .fa-align-right {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}

header .navbar .navbar-brand .logo {
  text-transform: none;
  display: block;
  font-size: 16px;
  padding-left: 38px;
  font-weight: 600;
  opacity: 1;
}

#navbarCorp .nav-item {
  margin: 0 10px;
}

.navbar .navbar-brand {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

#navbarCorp .nav-link i {
  font-size: 12px;
  transform: translateY(-2px);
}

#navbarCorp .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s ease;
  font-size: 1rem;
  padding: 14px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
}

#navbarCorp .active .nav-link {
  opacity: 1;
}

#navbarCorp .header-search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-radius: 100%;
  outline: 0;
  background-color: #009f4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #fff;
}

#navbarCorp .header-darkLight {
  font-size: 20px;
  padding-right: 26px;
  color: #fff;
}

#navbarCorp .dropdown-menu {
  width: 180px;
  border-radius: 10px;
  transform: translateX(-60px);
  position: absolute;
  border: none;

}

/* fiexd */
.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 #0000000d;
  z-index: 100000;
}

.nav-fixed .navbar .navbar-brand {
  color: #3f3a64
}

.nav-fixed #navbarCorp .nav-item .nav-link {
  color: #3f3a64;
}

.nav-fixed #navbarCorp .nav-item.active .nav-link {
  color: #009f4d;
}

.nav-fixed .btn i {
  color: black;
}

.nav-fixed .btn .fa-moon {
  color: black;
}

#navbarCorp .dropdown-menu a {
  text-transform: uppercase;
  font-weight: 500;
  color: #3f3a64;
}

.btnnut {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navbarCorp .dropdown-menu::before {
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 80px;
  top: -24px;
}

/* corpvision_carousel */
.corpvision_carousel {
  position: relative;
  height: auto;
  overflow: hidden;

}

.carousel-inner {
  position: relative;
  z-index: 12;

}

#carousel-corpid .carousel-item {
  height: 100vh;
}

#carousel-corpid .carousel-item>img {
  height: 100%;
  object-fit: cover;

}

#carousel-corpid .carousel-caption {
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);

}

.carousel-caption h1 {
  padding-left: 20px;
  font-size: 66px;
  line-height: 1.1;
  color: #fff;
  font-weight: 600;
}

.carousel-caption p {
  padding-left: 62px;
  font-size: 20px;
  line-height: 20px;
  max-width: 800px;
  color: #fff;
  letter-spacing: 0.015em;
  opacity: 0.9;
}

.carousel-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.carousel-caption .btn-corp {
  padding-top: 30px;
  margin-right: 500px;
}

.btn-turn {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}


.btn-primary:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

.btn {
  display: inline-block;
  font-weight: 400;

}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}

.shape svg {
  width: 100%;

}

svg {
  overflow: hidden;

}

.shape path {

  fill: #212529;
}

.nextprev {

  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.carousel-control-prev {
  position: relative;
  font-size: 18px;
  background: black;
  display: block;
  width: 50px;
  outline: none;
  height: 50px;
  z-index: 13;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px #0000001f;
  border: 1px solid gray;
  display: inline-block;
  
}

.nextprev i {
  color: white;
  background-color: black;
}

.carousel-control-next {
  position: relative;
  right: 0px;
  font-size: 18px;
  background: black;
  width: 50px;
  height: 50px;
  outline: none;
  z-index: 13;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: 1px solid gray;
  display: inline-block;
}

/* About */
.About {
  padding-bottom: 100px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.title2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: white;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem;
}


#corpabout .About-list i {
  color: #00732c;
  padding-top: 20px;
}

#corpabout .About-list a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  

  
}

#corpabout .About-list a:hover {
  text-decoration: none;
}

.About1 ul.About-list li {
  display: block;
}

.pb-lg-5,
.py-lg-5 {
  padding: 3rem;
  
}
.activity {
  position: relative;
}
/* challengens */
.challengens{
  
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .carousel-caption h1 {
    font-size: 55px;
  }

  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 992px) {

  .carousel-caption h1 {
    font-size: 50px;
  }

  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0;
  }
 
}
@media screen and (max-width: 1080px) {
  .title2 {
    font-size: 32px ;
    line-height: 40px;
  }

}
@media screen and (max-width: 768px) {
  .carousel-captiont h1 {
    font-size: 45px;
  }

  .carousel-caption p {
    font-size: 18px;
    line-height: 28px;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem;
  }

}

@media screen and (max-width: 568px) {
  .carousel-captiont h1 {
    font-size: 40px;
  }
  .title2 {
    font-size: 30px ;
    line-height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-captiont h1 {
    font-size: 36px;
  }
  .image .row{
    padding: 0 10px;
  }

}

@media screen and(max-width: 415px) {
  .carousel-captiont h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 384px) {
  .carousel-captiont h1 {
    font-size: 28px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 375px) {
  .carousel-captiont h1 {
    font-size: 27px;
  }
}

/*gallery section  */
.gallery__content a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery__content a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.8);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}


/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
  transition: width 0.6s ease;
}

#a123 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/* reponsive */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  header .navbar {
    margin-top: 8px;
    margin-left: 14px;
  }

  header .navbar-toggler {
    border: none;
  }
}

@media screen and (max-width: 480px) {
  header .navbar {
    padding: 30px 0px;
  }
}