* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #151421;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
}

[data-theme="dark"] {
  --primary-color: #009f4d;
  --secondary-color: #213363;
  --font-color: #c2c2c2;
  --bg-color: #151421;
  --heading-color: #fff;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-grey: #100f19;
  --bg-lightgrey: #100f19;
  --layer: rgba(29, 42, 55, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
}

p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: .8;
  font-family: 'Jost', sans-serif;
}

/*-- ĐỔI THEME --*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

html,
body {
  font-family: 'Jost', sans-serif;
  line-height: 2;
  background: var(--bg-color);
  color: var(--font-color);
  /* background-color: #151421 ; */
}



/* header */
/* header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background: red;
  border-bottom: 1px solid gray;
  
} */


header .container {
  max-width: 1250px;
}

header .navbar-brand {

  font-size: 2rem;
  color: #fff;
}

header .navbar .navbar-brand {
  color: #fff;
}

header .navbar .navbar-brand .fa-align-right {
  color: var(--primary-color);
  margin-right: 5px;
  vertical-align: bottom;
}

header .navbar .navbar-brand .logo {
  text-transform: none;
  display: block;
  font-size: 16px;
  padding-left: 38px;
  font-weight: 600;
  opacity: 1;
}

#navbarCorp .nav-item {
  margin: 0 10px;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

#navbarCorp .nav-link i {
  font-size: 12px;
  transform: translateY(-2px);
}

#navbarCorp .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s ease;
  font-size: 1rem;
  padding: 14px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

#navbarCorp .active .nav-link {
  opacity: 1;
}

#navbarCorp .header-search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-radius: 100%;
  outline: 0;
  background-color: #009f4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #fff;
}

#navbarCorp .header-darkLight {
  font-size: 20px;
  padding-right: 26px;
  color: #fff;
}

#navbarCorp .dropdown-menu {
  width: 180px;
  border-radius: 10px;
  transform: translateX(-60px);
  position: absolute;
  border: none;

}

.fixed-top {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}


.nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  z-index: 100;
}

/* fiexd */
/* .nav-fixed {
  display: grid;
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 #0000000d;
  z-index: 100000;
} */

.nav-fixed .navbar .navbar-brand {
  color: #3f3a64
}

.nav-fixed #navbarCorp .nav-item .nav-link {
  color: #3f3a64;
}

.nav-fixed #navbarCorp .nav-item.active .nav-link {
  color: #009f4d;
}

.nav-fixed .btn i {
  color: black;
}

.nav-fixed .btn .fa-moon {
  color: black;
}

#navbarCorp .dropdown-menu a {
  text-transform: uppercase;
  font-weight: 500;
  color: #3f3a64;
}

.btnnut {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navbarCorp .dropdown-menu::before {
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 80px;
  top: -24px;
}

/* corpvision_carousel */
.corpvision_carousel {
  position: relative;
  height: auto;
  overflow: hidden;


}

.carousel-inner {
  position: relative;
  z-index: 12;

}

#carousel-corpid .carousel-item {
  height: 120vh;
}

#carousel-corpid .carousel-item>img {
  height: 100%;
  object-fit: cover;

}

#carousel-corpid .carousel-caption {
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.carousel-caption h1 {

  font-size: 66px;
  line-height: 1.1;
  color: #fff;
  font-weight: 600;
}

.carousel-caption p {
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
  line-height: 20px;
  max-width: 800px;
  color: #fff;
  letter-spacing: 0.015em;
  opacity: 0.9;
}

.carousel-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.carousel-caption .btn-corp {
  padding-top: 30px;
  margin-right: 500px;
}

.btn-turn {
  text-align: left;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.btn-primary {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}


.btn-primary:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

.btn {
  display: inline-block;
  font-weight: 400;

}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 12;

}

.shape svg {
  width: 100%;

}

svg {
  overflow: hidden;

}

.shape path {

  fill: var(--bg-color);
}

.nextprev {

  display: flex;
  justify-content: flex-end;
  padding-right: 30px;

}


.carousel-control-prev {
  position: relative;
  font-size: 18px;
  background: black;
  display: block;
  width: 50px;
  outline: none;
  height: 50px;
  z-index: 13;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px #0000001f;
  border: 1px solid gray;
  display: inline-block;

}



.carousel-control-next {
  position: relative;
  right: 0px;
  font-size: 18px;
  background: black;
  width: 50px;
  height: 50px;
  outline: none;
  z-index: 13;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: 1px solid gray;
  display: inline-block;
}

.corpvision_overlay {
  opacity: 0.2;

}

/* About */
.About {
  padding-bottom: 100px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;

  display: block;
}

.title2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;

}




#corpabout .About-list i {
  color: #00732c;
  padding-top: 20px;
}

#corpabout .About-list a {
  color: var(--heading-color);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;



}

#corpabout .About-list a:hover {
  text-decoration: none;
}

.About ul.About-list li {
  display: block;
}

.activity {
  position: relative;
}

/* challengens */
.challengens {

  /* padding: 100px; */
}

.challengens_activity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.box-wrap{
  padding: 40px 30px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: var(--bg-color);
  transition: 0.3s ease;
  
}

.box-wrap:hover {
  transform: translateY(-0.25rem);
  box-shadow: #2e293314 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: 0.3s ease;
  
}

.box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--heading-color);

}

.box-wrap h4 a:hover {
  text-decoration: none;
  color: #00732c;

}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.challengens_item .icon img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

/* care */
.care {
  padding: 100px;
}

.care.card {
  padding: 0 20px;
  position: relative;
}

.care_info a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  text-align: center;
  background: var(--bg-color);
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transform: translateY(-25px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0p;
}



.care_item:hover .care_info a.title {
  color: #00732c;
  text-decoration: none;
}

.btn-origin {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: var(--heading-color);
  border-radius: var(--border-radius);
}

.care_item a.btn-origin:hover {
  color: #00732c;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .carousel-caption h1 {
    font-size: 55px;
  }

  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1080px) {
  .title2 {
    font-size: 32px;
    line-height: 40px;
  }

}

@media screen and (max-width: 992px) {

  .carousel-caption h1 {
    font-size: 50px;
  }

  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-expand-lg .navbar-toggler {

    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }

  .control .btn-material {
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
  }


}



@media screen and (max-width: 768px) {
  .carousel-captiont h1 {
    font-size: 45px;
  }

  .carousel-caption p {
    font-size: 18px;
    line-height: 28px;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem;
  }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0;
  }

}

@media screen and (max-width: 568px) {
  .carousel-captiont h1 {
    font-size: 40px;
  }

  .title2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-captiont h1 {
    font-size: 36px;
  }

  .image .row {
    padding: 0 10px;
  }

}

@media screen and(max-width: 415px) {
  .carousel-captiont h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 384px) {
  .carousel-captiont h1 {
    font-size: 28px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 375px) {
  .carousel-captiont h1 {
    font-size: 27px;
  }
}

/*gallery section  */


.gallery__content a.zoom {
  overflow: hidden;
  position: relative;

}

.gallery__content a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(117, 126, 135, 0.8);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}


/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
  transition: width 0.6s ease;
}

#a123 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/* reponsive */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  header .navbar {
    margin-top: 8px;
    margin-left: 14px;
  }

  header .navbar-toggler {
    border: none;
  }
}

@media screen and (max-width: 480px) {
  header .navbar {
    padding: 30px 0px;
  }
}